<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
      <style>
          .emptyMessage {
              font-weight: bold;
              color: red;
              font-size: 1.2em;
          }
          li {
              margin-bottom: 7px;
              font-size: 1.2em;
          }
          li > button {
              margin-left: 6px;
          }
      </style>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as cont">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="cont.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="cont.narrow()">Narrow It Down For Me!</button>
    </div>
    <br/>
    <br/>
       <br/>

    <found-items found-items="cont.found" nothing-found="cont.nothingFound" on-remove="cont.remove(idx)"></found-items>

  </div>

</body>
</html>
